
<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="changePasswordModalLabel">Change Password</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="changePassSuccess" class=" alert alert-success" style="display:none"></div>
                <div id="changePasswordError" class=" alert alert-danger" style="display:none"></div>



                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                    <input type="password" class="form-control" id="inputPasswordOld" required>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" required>
                    <!-- <span class="form-text small text-muted">
                                     The password must be 8-20 characters, and must <em>not</em> contain spaces.
                                 </span>-->
                </div>
                <div class="form-group">
                    <div id="changePassError" class="form-group alert alert-danger alert-dismissible" role="alert" style="display:none">
                        Confirm Password Doesn't Match With New Password <span class="closePassError close" >&times;</span>
                    </div>
                    <label for="inputPasswordNewVerify">Confirm Password</label>
                    <input type="password" class="form-control" id="inputPasswordNewVerify" required>
                    <span class="form-text small text-muted">
                                            To confirm, type the new password again.
                                        </span>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangedPassword">Save changes</button>
            </div>

        </div>
    </div>
</div>
<script>


        $('#saveChangedPassword').click(function(){
         $("#changePassSuccess").hide();
        var pass = $("#inputPasswordNew").val();
        var valid = pass == $("#inputPasswordNewVerify").val();
            if(!valid) {
              $("#changePassError").show();
              return;
            }
            $.get("/user/updatePassword",
              {password: pass, oldpassword: $("#inputPasswordOld").val()} ,function(data,status){
                $("#changePassSuccess").show().html(data.message);
                setTimeout(
                  function()
                  {
                     $.get("/logout",function(){
                            location.reload();
                        });
                  }, 2000);

            })
            .fail(function(data) {
                console.log(data);
                $("#changePasswordError").show().html('Current Password Not Matched/Invalid Access');
               $("#changePasswordError").fadeOut(8000);
            });

        });

        $('.closePassError').click(function(){
             $("#changePassError").hide();
        });

</script>