<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta http-equiv="refresh" content="300">
    <meta name="author" content="Nagaraju Ukkalam">
    <meta name="email" content="ukkalam.nagaraju@gmail.com">

    <title>::[[${venture.description}]]::</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>




</head>

<body >
<div th:replace="header"></div>
<div style=" width:  3253px;  height: 2339px;">
    <div id="info"
         style="z-index:1000;position:fixed;margin-left:90%;margin-top:12%; display: none; background-color: green; color: white; font-family: bold;">
        Position X : 331<br>Position Y : 769
    </div>
    <style>
       #fixedDiv{
         position: fixed !important;
            top: 15% !important;
            margin: -2.5em 0 0 0;
            z-index: 5 !important;
            color: #000080 !important;
            font-weight: bold !important;
            font-size: large !important;
            border: solid #2196f3 !important;
            border-left: none !important;
            padding: 0.5em 0.5em 0.5em 2.5em !important;
            box-shadow: 0 1px 3px black !important;
            background-color:white;
            font-size:15px;
       }
         #fixedDiv li { margin: 0; padding-bottom:5px; font-size:12px; }
         #fixedDiv a { color: inherit }
       .tooltip-inner{
            text-align: left;
       }
       #sidebarToggle{
           display:none;
        }
          .navbar-nav{
           margin-left:auto;
        }

    </style>
    <ul id="fixedDiv" class="list-group unstyled">

        <li>
            <table>
                <tbody>
                <tr>
                    <td bgcolor="orangered" style="color: white;">SOLD</td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td bgcolor="limegreen " style="color: white;">AVAILABLE</td>
                </tr>
                </tbody>
            </table>
        </li>

        <li>
            <table>
                <tbody>
                <tr>
                    <td bgcolor="blue" style="color: white;">BOOKED</td>
                </tr>
                </tbody>
            </table>
        </li>

        <li>
            <table>
                <tbody>
                <tr>
                    <td bgcolor="orchid" style="color: white;">BLOCKED</td>
                </tr>
                </tbody>
            </table>
        </li>

        <li th:if="@{${venture.ventureType}} != 'FARMLAND'">
            <table>
                <tbody>
                <tr>
                    <td bgcolor="purple" style="color: white;">Mortgage</td>
                </tr>
                </tbody>
            </table>
        </li>

    </ul>

    <div th:style="'position: relative; background: url(/img/'+${venture.ventureName}+'.jpg) no-repeat; width: 1900px; height:1300px; background-size: 1800px; '">
        <tr th:each="plot: ${venture.plotList}">

            <div th:if="@{${plot.pltStatus}} == 'AVAILABLE'">
                <div class='overlay myTooltip btn1 btn-effect btn-purple rounded-sm' align='center' data-toggle="tooltip"
                     data-html="true"
                     th:title="'<td>Plot No:     '+@{${plot.plotId}}+'   <br/>Plot Size:   '+@{${plot.plotSize}}+' sq.yrd  <br/>Plot Facing: '+@{${plot.facing}}+'  Face <br/>Plot Status:   '+@{${plot.pltStatus}}+' <br/> '+@{${plot.owner}}+'        <td>'"
                     th:style="'background:limegreen; height:12px;width:30px; border: 5; position: absolute; top:'+@{${plot.top}}+'px; left: '+@{${plot.leftPos}}+'px; font-size: 9px;'">
                    <span style="color:white" th:text="${plot.plotId}" />
                </div>
            </div>

            <div th:if="@{${plot.pltStatus}} == 'BLOCKED'">
                <div class='overlay myTooltip btn1 btn-effect btn-purple rounded-sm' align='center' data-toggle="tooltip"
                     data-html="true"
                     th:title="'<td>Plot No:     '+@{${plot.plotId}}+'   <br/>Plot Size:   '+@{${plot.plotSize}}+' sq.yrd  <br/>Plot Facing: '+@{${plot.facing}}+'  Face <br/>Plot Status:   '+@{${plot.pltStatus}}+' <br/> '+@{${plot.owner}}+'        <td>'"
                     th:style="'background:orchid; height:12px;width:30px; border: 5; position: absolute; top:'+@{${plot.top}}+'px; left: '+@{${plot.leftPos}}+'px; font-size: 9px;'">
                    <span style="color:white" th:text="${plot.plotId}" />
                </div>
            </div>

            <div th:if="@{${plot.pltStatus}} == 'BOOKED'">
                <div class='overlay myTooltip btn1 btn-effect btn-purple rounded-sm' align='center' data-toggle="tooltip"
                     data-html="true"
                     th:title="'<td class=text-left>Plot No:     '+@{${plot.plotId}}+'   <br/>Plot Size:   '+@{${plot.plotSize}}+' sq.yrd  <br/>Plot Facing: '+@{${plot.facing}}+'  Face <br/>Plot Status:   '+@{${plot.pltStatus}}+' <br/> '+@{${plot.owner}}+'        <td>'"
                     th:style="'background:blue; height:12px;width:30px; border: 5; position: absolute; top:'+@{${plot.top}}+'px; left: '+@{${plot.leftPos}}+'px; font-size: 9px;'">
                    <span style="color:white" th:text="${plot.plotId}" />
                </div>
            </div>

            <div th:if="@{${plot.pltStatus}} == 'MORTGAGE'">
                <div class='overlay myTooltip btn1 btn-effect btn-purple rounded-sm' align='center' data-toggle="tooltip"
                     data-html="true"
                     th:title="'<td>Plot No:     '+@{${plot.plotId}}+'   <br/>Plot Size:   '+@{${plot.plotSize}}+' sq.yrd  <br/>Plot Facing: '+@{${plot.facing}}+'  Face <br/>Plot Status:   '+@{${plot.pltStatus}}+' <br/>Owner:'+@{${plot.owner}}+'        <td>'"
                     th:style="'background:brown; height:12px;width:30px; border: 5; position: absolute; top:'+@{${plot.top}}+'px; left: '+@{${plot.leftPos}}+'px; font-size: 9px;'">
                    <span style="color:white" th:text="${plot.plotId}" />
                </div>
            </div>

            <div th:if="@{${plot.pltStatus}} == 'SOLD'">
                <div class='overlay myTooltip btn1 btn-effect btn-purple rounded-sm' align='center' data-toggle="tooltip"
                     data-html="true"
                     th:title="'<td>Plot No:     '+@{${plot.plotId}}+'   <br/>Plot Size:   '+@{${plot.plotSize}}+' sq.yrd  <br/>Plot Facing: '+@{${plot.facing}}+'  Face <br/>Plot Status:   '+@{${plot.pltStatus}}+' <br/>'+@{${plot.owner}}+'       <td>'"
                     th:style="'background:orangered; height:12px;width:30px; border: 5; position: absolute; top:'+@{${plot.top}}+'px; left: '+@{${plot.leftPos}}+'px; font-size: 9px;'">
                    <span style="color:white" th:text="${plot.plotId}" />
                </div>
            </div>
        </tr>
    </div>

    <div>
        <footer class="py-4 bg-light mt-auto" style="width:1800px;">
            <div class="px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="col-md-10 text-muted">Copyright &copy; <a href="https://www.targetnest.com/">TargetNest</a> 2022</div>

                    <div class="col-md-2 float-right">
                        <span>Follow Us On:</span>
                        <a href="https://www.facebook.com/profile.php?id=100089710144241" target="_blank"
                           style="color:blue;font-size:30px;padding :5px;"> <i class="fab fa-facebook-f"> </i></i></a>
                        <a href="https://www.youtube.com/@targetnest" target="_blank"
                           style="color:red;font-size:30px;padding :5px;"> <i class="fab fa-youtube"> </i></a>
                        <a href="https://twitter.com/targetnest" target="_blank"
                           style="color:rgb(29, 155, 240);font-size:30px;padding :5px;"><i class="fab fa-twitter"> </i></a>

                    </div>

                </div>
            </div>
        </footer>
    </div>
    <div class="plotupdate">
        <form class="form-inline">
            <div class="input-group">


            </div>
        </form>
    </div>




    <script>

var info = document.getElementById('info');


function tellPos(p){

   info.innerHTML = 'Position X : ' + p.pageX + '<br />Position Y : ' + p.pageY;
}
addEventListener('mousemove', tellPos, false);
                          $(document).ready(function(){
                    $(".myTooltip").tooltip({
                        html: true
                    });
                });

</script>


</div>


</body></html>