<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div id="layoutSidenav_nav">
    <br/><br/>
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <!--<div class="sb-sidenav-menu">
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="sb-sidenav-menu-heading">Core</div>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="dashboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i> Dashboard</div>
                </a>
                <div sec:authorize="hasRole('ROLE_USER')">
                    <div class="sb-sidenav-menu-heading" style="color:gray;margin:15px"><b>Ventures</b></div>

                    <div class="form-check" style="margin-left:25px">
                        <input class="form-check-input" type="checkbox" value="" id="housing">
                        <label class="form-check-label" for="housing">Housing Plots</label>
                    </div>
                    <div class="form-check" style="margin-left:25px">
                        <input class="form-check-input" type="checkbox" value="" id="farm">
                        <label class="form-check-label" for="farm"> Farm Plots </label>
                    </div>


                    <div class="sb-sidenav-menu-heading" style="color:gray;margin:15px"><b>Select Locations</b></div>

                    <div class="form-check" style="margin-left:25px">
                        <input class="form-check-input" type="checkbox" value="" id="hyderabad">
                        <label class="form-check-label" for="hyderabad">
                            Hyderabad
                        </label>
                    </div>


                    <div class="sb-sidenav-menu-heading" style="color:gray;margin:15px"><b>Approved Authorities</b></div>
                    <div class="form-check" style="margin-left:25px">
                        <input class="form-check-input" type="checkbox" value="" id="hmda">
                        <label class="form-check-label" for="hmda">
                            HMDA
                        </label>
                    </div>
                </div>
            </div>-->
            <div class="sb-sidenav-footer" >
                <div class="small">Best ventures by TargetNest.</div>
            </div>
        </nav>
    </div>
</html>