<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="Nagaraju Ukkalam"/>
    <title>::Ventures::</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
</head>
<body class="sb-nav-fixed">
<div th:replace="header"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <div th:replace="navbar"></div>

            <main>
                <div class="container-fluid px-4">
                    <tr th:each="venture: ${ventures}">
                    <div class="mt-4 card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <b class="font-weight-bold" th:text="${venture.description}"
                                       style="font-size:15px"></b> <br/> <i th:if="@{${venture.organization}!=null}"
                                                                            style="font-size:10px"
                                                                            class="font-weight-light"
                                                                            th:text="'by '+@{${venture.organization.name}}"></i>
                                </div>
                                <div class="col">
                                    Actual Price:<i class="bi bi-currency-rupee"></i>
                                    <del><b th:text="${venture.actualPrice}"></b></del>
                                    <br/>
                                    Offer Price:<i class="bi bi-currency-rupee"></i><b
                                        th:text="${venture.offerPrice}"></b>
                                </div>
                                <div class="col">
                                    <a th:href="'/availableplots/'+${venture.ventureName}" target="_blank">
                                        <button type="button" class="btn btn-sm btn-primary" style="font-size=20px;background-color:orange" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() == venture.owner.username }"><span>Update Plots Status </span></button>
                                        <button type="button" class="btn btn-sm btn-primary" style="font-size=20px;" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername() != venture.owner.username }"><span>Book Free Site Visit/Enquiry Plot </span></button>
                                        <button type="button" class="btn btn-sm btn-primary" style="font-size=20px;" sec:authorize="isAnonymous()"><span>Book Free Site Visit/Enquiry Plot </span></button>
                                    </a>
                                </div>
                            </div>
                            <div class="mt-2 row">
                                <div class="col">
                                    Total Plots :<b th:text="${#lists.size(venture.plotList)}"></b><br/>
                                    Available Plots: <input type="number" th:id="'availablePlots'+${venture.id}"
                                                            style="background-color:white;border:none;"
                                                            disabled></input>
                                    <script th:inline="javascript">
                                     $(document).ready(function(){
                                         var plots= [[${venture.plotList}]];
                                         var count=0;
                                         for (let i = 0; i < plots.length; i++) {
                                             if(plots[i].pltStatus == 'AVAILABLE'){
                                                count++;
                                             }
                                         }
                                         var name='availablePlots[[${venture.id}]]';

                                          $("#availablePlots[[${venture.id}]]").val(count);
                                     });

                                    </script>
                                </div>
                                <div class="col">
                                <span th:if="${venture.approvedAuthority} != null">
                                    <i class="bi bi-house-door-fill" style="font-size:20px;color:orange"> </i>Approved Authority :<b
                                        th:text="${venture.approvedAuthority}"></b><br/>
                                </span>
                                    <b th:if="${venture.approvedAuthority} == null"><i class="bi bi-stack"
                                                                                       style="marging-top:5px;font-size:20px;color:green"> </i>
                                        Farm Land</b><br/>Address :<b th:text="${venture.ventureAddress}"></b>

                                </div>

                                <div class="col">
                                   <!-- <a class="bi bi-geo-alt" th:href="${venture.mapLocation}" target="_blank"
                                       style="color:#337ab7;font-size:18px;">Map Direction </a>-->
                                    <a th:href="'/plotstatus/'+${venture.ventureName}" class="btn btn-sm btn-primary " type="button" target="_blank"> Layout With Plots Status </a>

                                </div>
                            </div>
                           <!-- <div class="mt-4 row">
                                <div class="col">
                                    <div class="dropdown">
                                        <a th:href="'/plotstatus/'+${venture.ventureName}" class="btn btn-sm btn-primary " type="button" target="_blank">
                                            Layout With Plots Status
                                        </a>
                                    </div>

                                </div>
                                <div class="col">

                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            th:data-target="'#devlopment'+${venture.id}">
                                        Venture Highlights <i class="bi bi-water"> </i><i
                                            class="bi bi-car-front-fill"> </i>
                                    </button>
                                    &lt;!&ndash; Modal &ndash;&gt;
                                    <div class="modal fade" th:id="'devlopment'+${venture.id}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="exampleModalLongTitle0">Venture
                                                        Highlights</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" th:utext="${venture.ventureHighlights}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col">

                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                            th:data-target="'#documents'+${venture.id}">
                                        Venture Features <i class="bi bi-airplane"> </i><i
                                            class="bi bi-train-lightrail-front"> </i><i class="bi bi-buildings"> </i>
                                    </button>
                                    &lt;!&ndash; Modal &ndash;&gt;
                                    <div class="modal fade" th:id="'documents'+${venture.id}" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="exampleModalLongTitle1">Venture
                                                        Features </h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <span th:utext="${venture.ventureFeatures}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>-->
                        </div>
                    </div>
                    </tr>
                    <div th:if="${totalPages > 1}">
                        <div class="row col-sm-2" style="max-width:1500px;">
                            <div class="col-sm-2">
                                Total Rows: [[${totalItems}]]
                            </div>
                            <div class="col-sm-1 border">
                                <a th:if="${currentPage > 1}"
                                   th:href="@{'/page?pageNo=1'}">&lt;&lt;First</a>
                                <span th:unless="${currentPage > 1}">&lt;&lt;First</span>
                            </div>
                            <div class="col-sm-1 border">
                                <a th:if="${currentPage > 1}"
                                   th:href="@{'/page?pageNo=' + ${currentPage - 1}}">&lt;Prev</a>
                                <span th:unless="${currentPage > 1}">&lt;Prev</span>
                            </div>
                            <div class="col-sm-1 border">
                                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                     <a  th:if="${currentPage != i}" th:href="@{'/page?pageNo=' + ${i}}">[[${i}]]</a>
                                     <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                </span>
                            </div>
                            <div class="col-sm-1 border">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{'/page?pageNo=' + ${currentPage + 1}}">Next&gt;</a>
                                <span th:unless="${currentPage < totalPages}">Next&gt;</span>
                            </div>

                            <div class="col-sm-1 border">
                                <a th:if="${currentPage < totalPages}"
                                   th:href="@{'/page?pageNo=' + ${totalPages}}">Last&gt;&gt;</a>
                                <span th:unless="${currentPage < totalPages}">Last&gt;&gt;</span>
                            </div>
                        </div>
                    </div>


                </div>

            </main>


        <div th:replace="footer"></div>
    </div>

</div>

</body>
</html>
