<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body class="sb-nav-fixed">
<div th:replace="header"></div>
<div class="container-fluid px-4" style="margin-top:80px;">
    <div th:if="${param.error}"><p class="text-danger">Wrong user or password</p></div>
    <div th:if="${param.logout}"><p class="text-warning">You have successfully logged out</p></div>
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="text-center text-white">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select class="form-select md-2" aria-label="Select Plot Type"
                                aria-describedby="button-addon2">
                            <option selected>Select Venture Type</option>
                            <option value="1">Farm Plot</option>
                            <option value="2">Housing Plot</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" arial-placeholder="Enter venture name or city">
                    <a href="/search" class="btn btn-outline-primary" type="button" id="button-addon2"><i class="bi bi-search">
                    </i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="loginorregister" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">New User? Register Here</a>
                    </li>
                </ul>

                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form th:action="@{/login}" method="post">

                            <div th:if="${param.error}">
                                <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                            </div>

                            <div th:if="${param.logout}">
                                <p class="text-warning">You have been logged out.</p>
                            </div>

                            <div class="border border-secondary p-3 rounded">
                                <p>Login Page</p>
                                <p>
                                    <input type="username" name="username" class="form-control" placeholder="User Name" required autofocus/>
                                </p>
                                <p>
                                    <input type="password" name="password" class="form-control" placeholder="Password" required />
                                </p>
                                <p>
                                    <input type="checkbox" name="remember-me" />&nbsp;Remember Me
                                </p>
                                <p>
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        Register Here
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="footer"></div>
</body>
</html>



